<div class="container">
  <h1>Contact Us</h1>
  <div class="col-md-4">
    <!-- form card -->
    <div class="card-body">
      <form enctype="application/x-www-form-urlencoded"
       [formGroup]="formContact" (ngSubmit)="onSubmit(formContact.value)">
        <div class="form-group">
          <label for="">Name</label>
          <input
            name="lblName"
            type="text"
            class="form-control"
            placeholder="Enter Your Name"
            formControlName="name"
            required
            #name
          />
          <!-- validator -->
          <div
            class="alert-danger invalid-feedback"
            *ngIf="
              !formContact.controls['name'].valid &&
              (formContact.controls['name'].touched)
            "
          >
            <div [hidden]="!formContact.controls['name'].errors.required">
              Name is required!
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Your Email"
            formControlName="email"
            required
            #email
          />
          <!-- error -->
          <div
            class="alert-danger invalid-feedback"
            *ngIf="
              !formContact.controls['email'].valid &&
              formContact.controls['email'].touched
            "
          >
            <div
              [hidden]="
                !formContact.controls['email'].errors.valid && 
                (formContact.controls['email'].touched)
              "
            >
              Email is required!
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Message</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter you message"
            formControlName="message"
            required
            #message
          />
          <!-- error -->
          <div
            class="alert-danger invalid-feedback"
            *ngIf="!formContact.controls['message'].valid &&
            formContact.controls['message'].touched" 
          >
          <div
          [hidden]="
          !formContact.controls['message'].errors.valid && 
          formContact.controls['message'].touched
          "
        >
          Message is required! must be at least 10 letters
        </div>
          </div>
        </div>
        <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!formContact.valid"
      >
        Submit
      </button>
      </form>
    </div>
  </div>
</div>
