<div class="container">
    <h1>Contact Us</h1>
    <div class="col-md-4">
        <!-- form card -->
        <div class="card-body">
            <form [formGroup]="formContact" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="lblName">Your Name</label>
                    <input name="lblName" type="text" class="form-control" formControlName="name" #name/>
                    <!-- validator -->
                    <div class="invalid-feedback" *ngIf="submmited && myForm.name.errors?.required">
                        Name is required!
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblEmail">Your Email</label>
                    <input type="email" class="form-control" formControlName="email" #email/>
                    <!-- error -->
                    <div class="invalid-feedback" *ngIf="submmited && myForm.email.errors?.required">
                        Email is Required!
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblMessage">Your Message</label>
                    <input type="text" class="form-control" formControlName="message" #message/>
                    <!-- error -->
                    <div class="invalid-feedback" *ngIf="submmited && myForm.message.errors?.required">
                        Message is Required!
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>