<div class="container">
    <table class="table table-bordered">
        <tr *ngFor="let product of myListProducts | search : query" >
            <td class="align-middle img-fluid"><img src="../../assets/images/products-imges/{{product.image}}.jpg" alt="{{product.name}}"/></td>
            <td class="align-middle col-sm-3">{{product.description}}</td>
            <td class="align-middle col-sm-3">{{product.price | currency:'USD':true}}</td>
            <td class="align-middle col-sm-3">Buy Now</td>
        </tr>
    </table>   
</div>