
<div class="container-fluid">
    <div class="image col-5"><img src="../../assets/images/products-imges/{{productData.image}}.jpg" alt="{{productData.name}}"/></div>
    <div class="row">
      <div class="col-5 col-lg-5 col-md-5 sol-sm-5">
        <table class="table table-striped">
          <tr>
            <td>ID</td>
            <td>{{productData._id}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{productData.description}}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{productData.price | currency:'USD':true}}</td>
          </tr>
        </table>
        <button class="btn btn-primary" (click)="addToCart(productData)">Buy Now</button>
        <br>
        <button class="btn btn-warning pull-left" (click)="navigation('')">Go Back</button>
        <!-- <button class="btn btn-warning pull-left" (click)="addQuantity(productData)">Add Quantity</button>
        <button class="btn btn-warning pull-left" (click)="removeQuantity(productData)">Remove Quantity</button> -->
        <!-- <button class="btn btn-warning pull-left" (click)="removeProduct(productData)">Remove Item</button> -->
      </div>
    </div>
  </div>