<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Quick Search</div>
                    &nbsp; <input class="form-control" [(ngModel)]="query" placeholder="Enter the name of product...">
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <tr *ngFor="let product of myListProducts | search : query">
            <td class="align-middle img-fluid" [routerLink]="['product', product._id]"><img src="../../assets/images/products-imges/{{product.image}}.jpg" alt="{{product.name}}"/></td>
            <td class="align-middle col-sm-3">{{product.description}}</td>
            <td class="align-middle col-sm-3">{{product.price | currency:'USD':true}}</td>           
            <td class="align-middle col-sm-3">
                <button class="btn btn-primary" (click)="addToCart(product)">Buy Now</button>
                <a class="btn btn-danger" (click)="removeProduct(product)">Remove</a>
            </td>
        </tr>
    </table>
      
</div>